# ==============================================================================
# SEVAZO UNIFIED MONOREPO ENVIRONMENT CONFIGURATION TEMPLATE
# ==============================================================================

# Node Environment
NODE_ENV=production

# Backend API Configuration
PORT=4000
API_PREFIX=api/v1
APP_NAME=Sevazo-Admin-API

# Database (PostgreSQL)
DATABASE_URL="postgres://1b057dfbc692a3fc1a61e61454d33ab89ea180fc5f72302134aab5694b372487:sk_MLT-RsS8BwZGsZpOeM7hH@db.prisma.io:5432/postgres?sslmode=require"
"
POSTGRES_USER=sevazo
POSTGRES_PASSWORD=sevazopassword
POSTGRES_DB=prisma-postgres-bisque-clock
POSTGRES_PORT=5432

# Redis Cache & BullMQ Queues
REDIS_HOST=comment
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Secrets & Token Rotation
JWT_SECRET=sevazo-super-secret-jwt-access-key-replace-in-production-2026
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=sevazo-super-secret-jwt-refresh-key-replace-in-production-2026
JWT_REFRESH_EXPIRES_IN=7d

# Default Super Admin Seed Credentials
DEFAULT_ADMIN_EMAIL=admin@sevazo.com
DEFAULT_ADMIN_PASSWORD=Admin@123456
DEFAULT_ADMIN_NAME="Super Administrator"

# Next.js Admin Portal
NEXT_PUBLIC_API_URL=https://seva-zo-api.vercel.app
NEXT_PUBLIC_APP_NAME=Sevazo
NEXT_PUBLIC_APP_URL=https://seva-zo-api.vercel.app

# CORS Allowed Origins
CORS_ORIGINS=https://seva-zo-api.vercel.app
